<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" interval="10">

    <Properties>
        <Property name="baseFile">F:/log</Property>
        <Property name="subFile" value="springcloud"/>
        <Property name="eureka" value="eureka"/>
        <property name="applicationName">${spring.application.name}</property>
    </Properties>
    <Appenders>
<!--        <SpringProfile name="dev">-->
<!--            <Console name="Console" target="SYSTEM_OUT">-->
<!--                <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--            </Console>-->
<!--        </SpringProfile>-->
<!--        <SpringProfile name="sit">-->
<!--            <Console name="Console" target="SYSTEM_OUT">-->
<!--                <PatternLayout pattern="%d{HH:mm:ss.} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--            </Console>-->
<!--        </SpringProfile>-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
<!--            <filters>-->
<!--                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>-->
<!--            </filters>-->
        </Console>
        <RollingFile name="eureka_RollingFile_error" fileName="${baseFile}/${subFile}/${eureka}/consumer-one-error.log"
                     filePattern="${baseFile}/${subFile}/${eureka}/${applicationName}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="30"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="eureka_RollingFile_info" fileName="${baseFile}/${subFile}/${eureka}/consumer-one-info.log"
                     filePattern="${baseFile}/${subFile}/${eureka}/${applicationName}/info/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <filters>
                <ThresholdFilter level="info" onMatch="NEUTRAL" onMismatch="DENY"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="ACCEPT"/>
            </filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="30"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="eureka_RollingFile_debug" fileName="${baseFile}/${subFile}/${eureka}/consumer-one-debug.log"
                     filePattern="${baseFile}/${subFile}/${eureka}/${applicationName}/debug/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <filters>
                <ThresholdFilter level="debug" onMatch="NEUTRAL" onMismatch="DENY"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="ACCEPT"/>
            </filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="30"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="eureka_RollingFile_all" fileName="${baseFile}/${subFile}/${eureka}/consumer-one-all.log"
                     filePattern="${baseFile}/${subFile}/${eureka}/${applicationName}/all/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="30"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>
    <Loggers>
       <Root level="info" includeLocation="false">
            <AppenderRef ref="Console"/>
       </Root>
        <AsyncLogger name="com.example.consumerone" level="trace" includeLocation="false">
            <AppenderRef ref="eureka_RollingFile_error"/>
            <AppenderRef ref="eureka_RollingFile_info"/>
            <AppenderRef ref="eureka_RollingFile_debug"/>
            <AppenderRef ref="eureka_RollingFile_all"/>
        </AsyncLogger>
    </Loggers>
</Configuration>